<div
  class="bg-white flex align-items-center justify-content-between p-4 w-100 h-3rem mx-4 mt-4 border-round-xl align-self-center"
>
  <button
    pButton
    pRipple
    class="p-button-text"
    aria-label="Mostrar menu."
    (click)="togleSidebar()"
  >
    <span class="pi pi-bars text-xl"></span>
  </button>
  <h1 class="text-xl secondary-color font-bold">
    <a
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active-link "
      ><span class="pi pi-chart-pie mr-1"></span>Dashboard</a
    >
  </h1>
</div>
<p-sidebar
  ariaCloseLabel="Fechar menu."
  [(visible)]="visibleSidebar"
  [baseZIndex]="10000"
>
  <app-sidebar height="90vh"></app-sidebar>
</p-sidebar>
