<div class="flex col md:flex-row flex-column">
  <app-card class="md:col-6 col">
    <h3 class="font-bold text-lg mb-4">Formas de Pagamento:</h3>
    <div class="flex justify-content-center">
      <app-pie-chart [transactions]="transactions"></app-pie-chart>
    </div>
  </app-card>
  <app-card class="md:col-6 col">
    <h3 class="font-bold text-lg mb-4">Distribuição por Bandeira:</h3>
    <div class="flex justify-content-center">
      <app-donut-chart></app-donut-chart>
    </div>
  </app-card>
</div>
<div class="flex col flex-column">
  <app-card class="col w-full">
    <h3 class="font-bold text-lg mb-4">Valor Total por Bandeira:</h3>
    <div class="flex justify-content-center">
      <app-bar-chart></app-bar-chart>
    </div>
  </app-card>
</div>
