<div class="flex xl:flex-row flex-column p-0">
  <div
    class="flex xl:col-6 col md:flex-row flex-column xl:pr-0 xl:pb-2 p-0 pb-0"
  >
    <app-card class="md:col-6 col xl:pb-0">
      <h3 class="font-bold text-lg mb-4">Quantidade Total:</h3>
      <div class="flex justify-content-end">
        <p class="font-bold text-xl secondary-color">
          {{ summary.totalQuantity }}
        </p>
      </div>
    </app-card>
    <app-card class="md:col-6 col xl:pb-0">
      <h3 class="font-bold text-lg mb-4">Valor Total:</h3>
      <div class="flex justify-content-end">
        <p class="font-bold text-xl secondary-color">
          {{ summary.totalAmount | currency : "BRL" }}
        </p>
      </div>
    </app-card>
  </div>
  <div class="flex xl:col-6 col md:flex-row flex-column xl:pl-0 p-0">
    <app-card class="md:col-6 col xl:pb-0">
      <h3 class="font-bold text-lg mb-4">Valor Líquido:</h3>
      <div class="flex justify-content-end">
        <p class="font-bold text-xl secondary-color">
          {{ summary.totalNetAmount | currency : "BRL" }}
        </p>
      </div>
    </app-card>
    <app-card class="md:col-6 col xl:pb-0">
      <h3 class="font-bold text-lg mb-4">Valor Médio:</h3>
      <div class="flex justify-content-end">
        <p class="font-bold text-xl secondary-color">
          {{ summary.totalAverageAmount | currency : "BRL" }}
        </p>
      </div>
    </app-card>
  </div>
</div>
