<aside
  class="flex flex-column align-items-center justify-content-between border-round-3xl py-6 bg-white w-16rem mr-5"
  [style]="{ height }"
>
  <div class="flex flex-column align-items-center font-bold">
    <h1 class="text-xl mb-6 secondary-color">
      <a
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active-link "
        ><span class="pi pi-chart-pie mr-1"></span>Dashboard</a
      >
    </h1>

    <ul class="font-semibold">
      <li class="mb-4">
        <a
          routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active-link "
          ><span class="pi pi-file mr-2"></span>Resumo</a
        >
      </li>
      <li>
        <a routerLink="/transacoes" routerLinkActive="active-link"
          ><span class="pi pi-list mr-2"></span>Transações</a
        >
      </li>
    </ul>
  </div>
  <img src="assets/generic-logo.png" alt="logo" style="max-width: 200px" />
</aside>
